<footer class="footer">
    <div class="container">
        <div class="d-row">
            <div class="d-columns small-6 medium-6 only-small">
                <div class="footer__social-container">
                    <a target="_blank" href="https://www.linkedin.com/company/163904"><img src="resources/images/linkedin.svg" alt="Linkedin"></a>
                    <a target="_blank" href="https://www.instagram.com/frog_design/"><img src="resources/images/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="d-row">
            <div class="d-columns small-6 medium-3">
                <div class="footer-box">
                    <span class="footer-box__title">Rome</span>
                    <span class="footer-box__text">Viale Tiziano 25<br>00196 - Italy</span>
                    <a href="tel:+3906332745" class="footer-box__tel">+39 06332745</a>
                </div>
            </div> 
            <div class="d-columns small-6 medium-3">
                <div class="footer-box">
                    <span class="footer-box__title">Milan</span>
                    <span class="footer-box__text">Via Marcello Nizzoli 8<br>20147 — Italy</span>
                    <a href="tel:+390200699000" class="footer-box__tel">+39 0200699000</a>
                </div>
            </div>
            <div class="d-columns small-6 medium-6 no-small">
                <div class="footer__social-container">
                    <a target="_blank" href="https://www.linkedin.com/company/163904"><img src="resources/images/linkedin.svg" alt="Linkedin"></a>
                    <a target="_blank" href="https://www.instagram.com/frog_design/"><img src="resources/images/instagram.svg" alt="Instagram"></a>
                </div>
            </div>
        </div> 
        <div class="d-row">
            <div class="d-columns">
                <div class="footer__menu">
                    © 2022 frog design inc. frog is part of Capgemini Invent | 
                    <a target="_blank" href="https://www.capgemini.com/privacy-policy/">Privacy Policy</a> | 
                    <a target="_blank" href="https://www.capgemini.com/terms-of-use/">Terms of Use</a> | 
                    <a target="_blank" href="https://www.capgemini.com/cookie-policy/">Cookie Policy</a> | 
                    <a target="_blank" href="https://www.capgemini.com/cookie-settings/">Cookie Settings</a>
                </div>
            </div> 
        </div> 
    </div>
</footer>