html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-normal.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-normal.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-normal.otf") format("opentype"), url("../fonts/DINNextLTPro-normal.svg") format("svg"), url("../fonts/DINNextLTPro-normal.ttf") format("truetype"), url("../fonts/DINNextLTPro-normal.woff") format("woff"), url("../fonts/DINNextLTPro-normal.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-normalItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-normalItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-normalItalic.otf") format("opentype"), url("../fonts/DINNextLTPro-normalItalic.svg") format("svg"), url("../fonts/DINNextLTPro-normalItalic.ttf") format("truetype"), url("../fonts/DINNextLTPro-normalItalic.woff") format("woff"), url("../fonts/DINNextLTPro-normalItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Italic.otf") format("opentype"), url("../fonts/DINNextLTPro-Italic.svg") format("svg"), url("../fonts/DINNextLTPro-Italic.ttf") format("truetype"), url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Light.otf") format("opentype"), url("../fonts/DINNextLTPro-Light.svg") format("svg"), url("../fonts/DINNextLTPro-Light.ttf") format("truetype"), url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-LightItalic.otf") format("opentype"), url("../fonts/DINNextLTPro-LightItalic.svg") format("svg"), url("../fonts/DINNextLTPro-LightItalic.ttf") format("truetype"), url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.svg") format("svg"), url("../fonts/DINNextLTPro-Medium.ttf") format("truetype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-MediumItalic.otf") format("opentype"), url("../fonts/DINNextLTPro-MediumItalic.svg") format("svg"), url("../fonts/DINNextLTPro-MediumItalic.ttf") format("truetype"), url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DINNextLTPro";
  src: url("../fonts/DINNextLTPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/DINNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Regular.otf") format("opentype"), url("../fonts/DINNextLTPro-Regular.svg") format("svg"), url("../fonts/DINNextLTPro-Regular.ttf") format("truetype"), url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "QuartoLightItalic";
  src: url("../fonts/Quarto-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Quarto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Quarto-LightItalic.otf") format("opentype"), url("../fonts/Quarto-LightItalic.svg") format("svg"), url("../fonts/Quarto-LightItalic.ttf") format("truetype"), url("../fonts/Quarto-LightItalic.woff") format("woff"), url("../fonts/Quarto-LightItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "DINNextLTPro", sans-serif;
}
html.blocked {
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

.only-small,
.only-medium,
.only-large,
.only-large-up,
.only-xlarge {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .only-small {
    display: block !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .only-medium {
    display: block !important;
  }
}
@media screen and (min-width: 993px) and (max-width: 1092px) {
  .only-large {
    display: block !important;
  }
}
@media screen and (min-width: 993px) {
  .only-large-up {
    display: block !important;
  }
}
@media screen and (min-width: 1093px) {
  .only-xlarge {
    display: block !important;
  }
}
@media screen and (max-width: 767px) {
  .no-small {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .no-medium {
    display: none !important;
  }
}
@media screen and (min-width: 993px) and (max-width: 1092px) {
  .no-large {
    display: none !important;
  }
}
@media screen and (min-width: 993px) {
  .no-large-up {
    display: none !important;
  }
}
@media screen and (min-width: 1093px) {
  .no-xlarge {
    display: none !important;
  }
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}
.container--debug .d-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container--debug .d-columns {
  text-align: center;
}
.container--debug .box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ddd;
  height: 100%;
  color: #000;
}
.container--debug .box .box {
  background: #bbb;
}

.d-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.d-row.equal-height {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.d-row .d-row:not(.not-nested) {
  padding-right: 0;
  padding-left: 0;
}
.d-row .d-row:not(.not-nested) .d-columns {
  padding-right: 0;
  padding-left: 0;
}

.d-columns {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
.d-columns .d-columns {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .d-row {
    padding-right: 12px;
    padding-left: 12px;
  }
  .d-row.small-equal-height {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .d-columns {
    padding-left: 12px;
    padding-right: 12px;
  }
  .d-columns.small-1 {
    width: 8.3333333333%;
  }
  .d-columns.small-2 {
    width: 16.666666667%;
  }
  .d-columns.small-3 {
    width: 25%;
  }
  .d-columns.small-4 {
    width: 33.333333333%;
  }
  .d-columns.small-5 {
    width: 41.666666667%;
  }
  .d-columns.small-6 {
    width: 50%;
  }
  .d-columns.small-7 {
    width: 58.333333333%;
  }
  .d-columns.small-8 {
    width: 66.666666666%;
  }
  .d-columns.small-9 {
    width: 75%;
  }
  .d-columns.small-10 {
    width: 83.333333333%;
  }
  .d-columns.small-11 {
    width: 91.666666666%;
  }
  .d-columns.small-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .d-row {
    padding-right: 12px;
    padding-left: 12px;
  }
  .d-row.medium-equal-height {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .d-columns {
    padding-left: 12px;
    padding-right: 12px;
  }
  .d-columns.small-1 {
    width: 8.3333333333%;
  }
  .d-columns.small-2 {
    width: 16.666666667%;
  }
  .d-columns.small-3 {
    width: 25%;
  }
  .d-columns.small-4 {
    width: 33.333333333%;
  }
  .d-columns.small-5 {
    width: 41.666666667%;
  }
  .d-columns.small-6 {
    width: 50%;
  }
  .d-columns.small-7 {
    width: 58.333333333%;
  }
  .d-columns.small-8 {
    width: 66.666666666%;
  }
  .d-columns.small-9 {
    width: 75%;
  }
  .d-columns.small-10 {
    width: 83.333333333%;
  }
  .d-columns.small-11 {
    width: 91.666666666%;
  }
  .d-columns.small-12 {
    width: 100%;
  }
  .d-columns.medium-1 {
    width: 8.3333333333%;
  }
  .d-columns.medium-2 {
    width: 16.666666667%;
  }
  .d-columns.medium-3 {
    width: 25%;
  }
  .d-columns.medium-4 {
    width: 33.333333333%;
  }
  .d-columns.medium-5 {
    width: 41.666666667%;
  }
  .d-columns.medium-6 {
    width: 50%;
  }
  .d-columns.medium-7 {
    width: 58.333333333%;
  }
  .d-columns.medium-8 {
    width: 66.666666666%;
  }
  .d-columns.medium-9 {
    width: 75%;
  }
  .d-columns.medium-10 {
    width: 83.333333333%;
  }
  .d-columns.medium-11 {
    width: 91.666666666%;
  }
  .d-columns.medium-12 {
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1092px) {
  .d-row {
    padding-right: 12px;
    padding-left: 12px;
  }
  .d-row.large-equal-height {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .d-columns.small-1 {
    width: 8.3333333333%;
  }
  .d-columns.small-2 {
    width: 16.666666667%;
  }
  .d-columns.small-3 {
    width: 25%;
  }
  .d-columns.small-4 {
    width: 33.333333333%;
  }
  .d-columns.small-5 {
    width: 41.666666667%;
  }
  .d-columns.small-6 {
    width: 50%;
  }
  .d-columns.small-7 {
    width: 58.333333333%;
  }
  .d-columns.small-8 {
    width: 66.666666666%;
  }
  .d-columns.small-9 {
    width: 75%;
  }
  .d-columns.small-10 {
    width: 83.333333333%;
  }
  .d-columns.small-11 {
    width: 91.666666666%;
  }
  .d-columns.small-12 {
    width: 100%;
  }
  .d-columns.medium-1 {
    width: 8.3333333333%;
  }
  .d-columns.medium-2 {
    width: 16.666666667%;
  }
  .d-columns.medium-3 {
    width: 25%;
  }
  .d-columns.medium-4 {
    width: 33.333333333%;
  }
  .d-columns.medium-5 {
    width: 41.666666667%;
  }
  .d-columns.medium-6 {
    width: 50%;
  }
  .d-columns.medium-7 {
    width: 58.333333333%;
  }
  .d-columns.medium-8 {
    width: 66.666666666%;
  }
  .d-columns.medium-9 {
    width: 75%;
  }
  .d-columns.medium-10 {
    width: 83.333333333%;
  }
  .d-columns.medium-11 {
    width: 91.666666666%;
  }
  .d-columns.medium-12 {
    width: 100%;
  }
  .d-columns.large-1 {
    width: 8.3333333333%;
  }
  .d-columns.large-2 {
    width: 16.666666667%;
  }
  .d-columns.large-3 {
    width: 25%;
  }
  .d-columns.large-4 {
    width: 33.333333333%;
  }
  .d-columns.large-5 {
    width: 41.666666667%;
  }
  .d-columns.large-6 {
    width: 50%;
  }
  .d-columns.large-7 {
    width: 58.333333333%;
  }
  .d-columns.large-8 {
    width: 66.666666666%;
  }
  .d-columns.large-9 {
    width: 75%;
  }
  .d-columns.large-10 {
    width: 83.333333333%;
  }
  .d-columns.large-11 {
    width: 91.666666666%;
  }
  .d-columns.large-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1093px) {
  .d-row {
    padding-right: 12px;
    padding-left: 12px;
  }
  .d-row.xlarge-equal-height {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .d-columns.small-1 {
    width: 8.3333333333%;
  }
  .d-columns.small-2 {
    width: 16.666666667%;
  }
  .d-columns.small-3 {
    width: 25%;
  }
  .d-columns.small-4 {
    width: 33.333333333%;
  }
  .d-columns.small-5 {
    width: 41.666666667%;
  }
  .d-columns.small-6 {
    width: 50%;
  }
  .d-columns.small-7 {
    width: 58.333333333%;
  }
  .d-columns.small-8 {
    width: 66.666666666%;
  }
  .d-columns.small-9 {
    width: 75%;
  }
  .d-columns.small-10 {
    width: 83.333333333%;
  }
  .d-columns.small-11 {
    width: 91.666666666%;
  }
  .d-columns.small-12 {
    width: 100%;
  }
  .d-columns.medium-1 {
    width: 8.3333333333%;
  }
  .d-columns.medium-2 {
    width: 16.666666667%;
  }
  .d-columns.medium-3 {
    width: 25%;
  }
  .d-columns.medium-4 {
    width: 33.333333333%;
  }
  .d-columns.medium-5 {
    width: 41.666666667%;
  }
  .d-columns.medium-6 {
    width: 50%;
  }
  .d-columns.medium-7 {
    width: 58.333333333%;
  }
  .d-columns.medium-8 {
    width: 66.666666666%;
  }
  .d-columns.medium-9 {
    width: 75%;
  }
  .d-columns.medium-10 {
    width: 83.333333333%;
  }
  .d-columns.medium-11 {
    width: 91.666666666%;
  }
  .d-columns.medium-12 {
    width: 100%;
  }
  .d-columns.large-1 {
    width: 8.3333333333%;
  }
  .d-columns.large-2 {
    width: 16.666666667%;
  }
  .d-columns.large-3 {
    width: 25%;
  }
  .d-columns.large-4 {
    width: 33.333333333%;
  }
  .d-columns.large-5 {
    width: 41.666666667%;
  }
  .d-columns.large-6 {
    width: 50%;
  }
  .d-columns.large-7 {
    width: 58.333333333%;
  }
  .d-columns.large-8 {
    width: 66.666666666%;
  }
  .d-columns.large-9 {
    width: 75%;
  }
  .d-columns.large-10 {
    width: 83.333333333%;
  }
  .d-columns.large-11 {
    width: 91.666666666%;
  }
  .d-columns.large-12 {
    width: 100%;
  }
  .d-columns.xlarge-1 {
    width: 8.3333333333%;
  }
  .d-columns.xlarge-2 {
    width: 16.666666667%;
  }
  .d-columns.xlarge-3 {
    width: 25%;
  }
  .d-columns.xlarge-4 {
    width: 33.333333333%;
  }
  .d-columns.xlarge-5 {
    width: 41.666666667%;
  }
  .d-columns.xlarge-6 {
    width: 50%;
  }
  .d-columns.xlarge-7 {
    width: 58.333333333%;
  }
  .d-columns.xlarge-8 {
    width: 66.666666666%;
  }
  .d-columns.xlarge-9 {
    width: 75%;
  }
  .d-columns.xlarge-10 {
    width: 83.333333333%;
  }
  .d-columns.xlarge-11 {
    width: 91.666666666%;
  }
  .d-columns.xlarge-12 {
    width: 100%;
  }
}
.footer {
  padding: 80px 0;
  background: #222222;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 0;
  }
}
.footer__menu {
  padding: 10px 0 10px 65px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  background: url("../images/frog-footer-logo.svg") no-repeat left center;
  background-size: 54px;
}
@media screen and (max-width: 992px) {
  .footer__menu {
    background: url("../images/frog-footer-logo.svg") no-repeat top center;
    background-size: 54px;
    padding: 45px 0 0 0;
  }
}
.footer__menu a {
  color: #fff;
  text-decoration: none;
}
.footer__social-container {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .footer__social-container {
    text-align: left;
    margin-bottom: 40px;
  }
}
.footer__social-container a {
  display: inline-block;
  margin: 0 0 0 30px;
}
@media screen and (max-width: 767px) {
  .footer__social-container a {
    margin: 0 33px 0 0;
  }
}

@media screen and (min-width: 993px) {
  .footer-box {
    padding-right: 40px;
  }
}
@media screen and (max-width: 992px) {
  .footer-box {
    margin-bottom: 20px;
  }
}
.footer-box__title {
  display: block;
  margin-bottom: 16px;
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.footer-box__text {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-weight: 300;
}
.footer-box__tel {
  display: block;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-weight: 300;
}

.content {
  padding: 80px 0 60px 0;
}
@media screen and (max-width: 767px) {
  .content {
    padding: 40px 0 80px 0;
  }
}
.content__logo {
  padding: 0px 0 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .content__logo {
    padding: 0px 0 36px;
  }
}
.content__logo img {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .content__logo img {
    max-width: 274px;
  }
}
.content__title {
  padding: 0 0 32px 0;
  font-size: 80px;
  line-height: 80px;
  color: black;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .content__title {
    font-size: 44px;
    line-height: 48px;
  }
}
.content__text {
  font-size: 24px;
  line-height: 36px;
  color: #999999;
  padding: 0px 75px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .content__text {
    padding: 0px;
  }
}
@media screen and (max-width: 767px) {
  .content__text {
    padding: 0px;
    font-size: 20px;
    line-height: 32px;
  }
}
.content__text p {
  padding-bottom: 55px;
}
@media screen and (max-width: 767px) {
  .content__text p {
    padding-bottom: 50px;
  }
}
.content__text strong {
  color: #000;
  font-weight: 500;
}

.visual {
  background: #3700f2 url("../images/visual-bg.png");
  padding: 150px 0;
  position: relative;
  height: 100vh;
  background-size: cover;
}
.visual__main-logo {
  width: 100%;
  position: absolute;
  top: 32px;
  text-align: center;
  color: #fff;
}
.visual__go-to-next-section {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 5.5rem;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (min-width: 767px) {
  .visual__go-to-next-section {
    bottom: 0;
  }
}
.visual__go-to-next-section__cta {
  display: inline-block;
  margin: 12px 0 26px;
  cursor: pointer;
}
.visual .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 25%;
  overflow-x: hidden;
}
@media screen and (min-width: 767px) {
  .visual .marquee {
    height: 33%;
  }
}
.visual .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  font-family: "QuartoLightItalic";
  font-size: 17vmin;
  color: #fff;
  -webkit-text-stroke: 1.5px white;
  text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
}
.visual .track.animation-1 {
  -webkit-animation: marquee 500s linear infinite;
          animation: marquee 500s linear infinite;
}
.visual .track.animation-2 {
  -webkit-animation: marqueeReverse 500s linear infinite;
          animation: marqueeReverse 500s linear infinite;
}
.visual .track.animation-3 {
  -webkit-animation: marquee 500s linear infinite;
          animation: marquee 500s linear infinite;
}
.visual .track .full-font {
  -webkit-text-stroke: 0;
  text-stroke: 1.5px 0;
  -webkit-text-fill-color: white;
  text-fill-color: white;
  color: white;
}
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes marqueeReverse {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes marqueeReverse {
  from {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.launcher {
  padding: 72px 0;
  background: #601bd2;
}
@media screen and (max-width: 992px) {
  .launcher {
    padding: 60px 0;
  }
}
.launcher__title {
  font-size: 48px;
  line-height: normal;
  color: #fff;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .launcher__title {
    font-size: 36px;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .launcher__cta-container {
    text-align: right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
@media screen and (max-width: 992px) {
  .launcher__cta-container {
    text-align: center;
  }
}
.launcher__cta {
  display: inline-block;
  padding: 28px 46px;
  margin-left: auto;
  font-size: 24px;
  color: #000;
  background: #fff;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), color-stop(50%, #601bd2)) right;
  background: linear-gradient(to left, white 50%, #601bd2 50%) right;
  background-size: 200%;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  text-decoration: none;
  font-weight: 500;
  border: 4px solid #fff;
}
@media screen and (max-width: 992px) {
  .launcher__cta {
    padding: 18px 23px;
    margin-top: 40px;
    font-size: 20px;
  }
}
@media (hover: hover) {
  .launcher__cta:hover {
    background-position: left;
    color: #fff;
  }
}

/*# sourceMappingURL=doing.css.map */