// MEDIA QUERY

//small
@media screen and (max-width: $small-max) {}
//medium
@media screen and (min-width: $medium-min) and (max-width: $medium-max) {}
//large
@media screen and (min-width: $large-min) and (max-width: $large-max) {}
//xlarge
@media screen and (min-width: $xlarge-min) {}

// MIXIN EQUAL HEIGHT

@mixin equal-height{
    align-items: stretch;
}

@mixin small-equal-height{
    @media screen and (max-width: $small-max) {
        align-items: stretch;
    }
}

@mixin medium-equal-height{
    @media screen and (min-width: $medium-min) and (max-width: $medium-max) {
        align-items: stretch;
    }
}

@mixin large-equal-height{
    @media screen and (min-width: $large-min) and (max-width: $large-max){
        align-items: stretch;
    }
}

@mixin xlarge-equal-height{
    @media screen and (min-width: $xlarge-min) {
        align-items: stretch;
    }
}

// VISIBILITY

.only-small,
.only-medium,
.only-large,
.only-large-up,
.only-xlarge{
    display: none !important;
}

//small
@media screen and (max-width: $small-max) {
    .only-small{
        display: block !important;
    }
}
//medium
@media screen and (min-width: $medium-min) and (max-width: $medium-max) {
    .only-medium{
        display: block !important;
    }
}
//large
@media screen and (min-width: $large-min) and (max-width: $large-max) {
    .only-large{
        display: block !important;
    }
}
//large up
@media screen and (min-width: $large-min)  {
    .only-large-up{
        display: block !important;
    }
}
//xlarge in su
@media screen and (min-width: $xlarge-min) {
    .only-xlarge{
        display: block !important;
    }
}

//small
@media screen and (max-width: $small-max) {
    .no-small{
        display: none !important;
    }
}
//medium
@media screen and (min-width: $medium-min) and (max-width: $medium-max) {
    .no-medium{
        display: none !important;
    }
}
//large
@media screen and (min-width: $large-min) and (max-width: $large-max){
    .no-large{
        display: none !important;
    }
}
//large up
@media screen and (min-width: $large-min) {
    .no-large-up{
        display: none !important;
    }
}
//xlarge
@media screen and (min-width: $xlarge-min) {
    .no-xlarge{
        display: none !important;
    }
}

//MAIN GRID COMPONENTS

.container{
    margin: 0 auto;
    max-width: $large-max + $gutter-standard;
    // la classe "debug serve solo per capire la logica della griglia e per vedere se sta fu"
    &--debug{
        .d-row{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .d-columns{
            text-align: center;
        }
        .box{
            box-sizing: border-box;
            padding-top: 20px;
            padding-bottom: 20px;
            background:#ddd;
            height: 100%;
            color: #000;
            .box{
                background:#bbb;
            }
        }
    }
}

.d-row{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    &.equal-height{
        align-items: stretch;
    }
    .d-row:not(.not-nested){
        padding-right: 0;
        padding-left: 0;
        .d-columns{
            padding-right: 0;
            padding-left: 0;
        }
    }
}
.d-columns{
    box-sizing: border-box;
    padding-left: math.div($gutter-mobile, 2);
    padding-right: math.div($gutter-mobile, 2);
    width: 100%;
    .d-columns{
        padding-left: 0;
    }
}

//small
@media screen and (max-width: $small-max) {
    .d-row{
        padding-right: math.div($gutter-mobile, 2);
        padding-left: math.div($gutter-mobile, 2);
        &.small-equal-height{
            align-items: stretch;
        }
    }
    .d-columns{
        padding-left: math.div($gutter-mobile, 2);
        padding-right: math.div($gutter-mobile, 2);
        &.small-1{
            width:8.3333333333%;
        }
        &.small-2{
            width:16.666666667%;
        }
        &.small-3{
            width: 25%;
        }
        &.small-4{
            width: 33.333333333%;
        }
        &.small-5{
            width: 41.666666667%;
        }
        &.small-6{
            width: 50%;
        }
        &.small-7{
            width: 58.333333333%;
        }
        &.small-8{
            width: 66.666666666%;
        }
        &.small-9{
            width: 75%;
        }
        &.small-10{
            width: 83.333333333%;
        }
        &.small-11{
            width: 91.666666666%;
        }
        &.small-12{ // può essere omesso
            width: 100%;
        }
    }
}

//medium
@media screen and (min-width: $medium-min) and (max-width: $medium-max) {
    .d-row{
        padding-right: math.div($gutter-mobile, 2);
        padding-left: math.div($gutter-mobile, 2);
        &.medium-equal-height{
            align-items: stretch;
        }
    }
    .d-columns{
        padding-left: math.div($gutter-mobile, 2);
        padding-right: math.div($gutter-mobile, 2);
        &.small-1{
            width:8.3333333333%;
        }
        &.small-2{
            width:16.666666667%;
        }
        &.small-3{
            width: 25%;
        }
        &.small-4{
            width: 33.333333333%;
        }
        &.small-5{
            width: 41.666666667%;
        }
        &.small-6{
            width: 50%;
        }
        &.small-7{
            width: 58.333333333%;
        }
        &.small-8{
            width: 66.666666666%;
        }
        &.small-9{
            width: 75%;
        }
        &.small-10{
            width: 83.333333333%;
        }
        &.small-11{
            width: 91.666666666%;
        }
        &.small-12{ // può essere omesso
            width: 100%;
        }
        &.medium-1{
            width:8.3333333333%;
        }
        &.medium-2{
            width:16.666666667%;
        }
        &.medium-3{
            width: 25%;
        }
        &.medium-4{
            width: 33.333333333%;
        }
        &.medium-5{
            width: 41.666666667%;
        }
        &.medium-6{
            width: 50%;
        }
        &.medium-7{
            width: 58.333333333%;
        }
        &.medium-8{
            width: 66.666666666%;
        }
        &.medium-9{
            width: 75%;
        }
        &.medium-10{
            width: 83.333333333%;
        }
        &.medium-11{
            width: 91.666666666%;
        }
        &.medium-12{ // può essere omesso
            width: 100%;
        }
    }
}

//large 
@media screen and (min-width: $large-min) and (max-width: $large-max){
    .d-row{
        padding-right: math.div($gutter-mobile, 2);
        padding-left: math.div($gutter-mobile, 2);
        &.large-equal-height{
            align-items: stretch;
        }
    }
    .d-columns{
        &.small-1{
            width:8.3333333333%;
        }
        &.small-2{
            width:16.666666667%;
        }
        &.small-3{
            width: 25%;
        }
        &.small-4{
            width: 33.333333333%;
        }
        &.small-5{
            width: 41.666666667%;
        }
        &.small-6{
            width: 50%;
        }
        &.small-7{
            width: 58.333333333%;
        }
        &.small-8{
            width: 66.666666666%;
        }
        &.small-9{
            width: 75%;
        }
        &.small-10{
            width: 83.333333333%;
        }
        &.small-11{
            width: 91.666666666%;
        }
        &.small-12{ // può essere omesso
            width: 100%;
        }
        &.medium-1{
            width:8.3333333333%;
        }
        &.medium-2{
            width:16.666666667%;
        }
        &.medium-3{
            width: 25%;
        }
        &.medium-4{
            width: 33.333333333%;
        }
        &.medium-5{
            width: 41.666666667%;
        }
        &.medium-6{
            width: 50%;
        }
        &.medium-7{
            width: 58.333333333%;
        }
        &.medium-8{
            width: 66.666666666%;
        }
        &.medium-9{
            width: 75%;
        }
        &.medium-10{
            width: 83.333333333%;
        }
        &.medium-11{
            width: 91.666666666%;
        }
        &.medium-12{ // può essere omesso
            width: 100%;
        }
        &.large-1{
            width:8.3333333333%;
        }
        &.large-2{
            width:16.666666667%;
        }
        &.large-3{
            width: 25%;
        }
        &.large-4{
            width: 33.333333333%;
        }
        &.large-5{
            width: 41.666666667%;
        }
        &.large-6{
            width: 50%;
        }
        &.large-7{
            width: 58.333333333%;
        }
        &.large-8{
            width: 66.666666666%;
        }
        &.large-9{
            width: 75%;
        }
        &.large-10{
            width: 83.333333333%;
        }
        &.large-11{
            width: 91.666666666%;
        }
        &.large-12{ // può essere omesso
            width: 100%;
        }   
    }
}

// xlarge in su
@media screen and (min-width: $xlarge-min) {
    .d-row{
        padding-right: math.div($gutter-mobile, 2);
        padding-left: math.div($gutter-mobile, 2);
        &.xlarge-equal-height{
            align-items: stretch;
        }
    }
    .d-columns{
        &.small-1{
            width:8.3333333333%;
        }
        &.small-2{
            width:16.666666667%;
        }
        &.small-3{
            width: 25%;
        }
        &.small-4{
            width: 33.333333333%;
        }
        &.small-5{
            width: 41.666666667%;
        }
        &.small-6{
            width: 50%;
        }
        &.small-7{
            width: 58.333333333%;
        }
        &.small-8{
            width: 66.666666666%;
        }
        &.small-9{
            width: 75%;
        }
        &.small-10{
            width: 83.333333333%;
        }
        &.small-11{
            width: 91.666666666%;
        }
        &.small-12{ // può essere omesso
            width: 100%;
        }
        &.medium-1{
            width:8.3333333333%;
        }
        &.medium-2{
            width:16.666666667%;
        }
        &.medium-3{
            width: 25%;
        }
        &.medium-4{
            width: 33.333333333%;
        }
        &.medium-5{
            width: 41.666666667%;
        }
        &.medium-6{
            width: 50%;
        }
        &.medium-7{
            width: 58.333333333%;
        }
        &.medium-8{
            width: 66.666666666%;
        }
        &.medium-9{
            width: 75%;
        }
        &.medium-10{
            width: 83.333333333%;
        }
        &.medium-11{
            width: 91.666666666%;
        }
        &.medium-12{ // può essere omesso
            width: 100%;
        }
        &.large-1{
            width:8.3333333333%;
        }
        &.large-2{
            width:16.666666667%;
        }
        &.large-3{
            width: 25%;
        }
        &.large-4{
            width: 33.333333333%;
        }
        &.large-5{
            width: 41.666666667%;
        }
        &.large-6{
            width: 50%;
        }
        &.large-7{
            width: 58.333333333%;
        }
        &.large-8{
            width: 66.666666666%;
        }
        &.large-9{
            width: 75%;
        }
        &.large-10{
            width: 83.333333333%;
        }
        &.large-11{
            width: 91.666666666%;
        }
        &.large-12{ // può essere omesso
            width: 100%;
        }   
        &.xlarge-1{
            width:8.3333333333%;
        }
        &.xlarge-2{
            width:16.666666667%;
        }
        &.xlarge-3{
            width: 25%;
        }
        &.xlarge-4{
            width: 33.333333333%;
        }
        &.xlarge-5{
            width: 41.666666667%;
        }
        &.xlarge-6{
            width: 50%;
        }
        &.xlarge-7{
            width: 58.333333333%;
        }
        &.xlarge-8{
            width: 66.666666666%;
        }
        &.xlarge-9{
            width: 75%;
        }
        &.xlarge-10{
            width: 83.333333333%;
        }
        &.xlarge-11{
            width: 91.666666666%;
        }
        &.xlarge-12{ // può essere omesso
            width: 100%;
        }  
    }
}